html,
body {
  margin: 0;
  height: 100%;

  font-family: Roboto, monospace, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
}

button {
  border-radius: 5px;
  background-color: #4e4e4e;
  color: white;
  border: 0;
  font-family: inherit;
  font-weight: 500;
}

button:hover {
  background-color: #a3a3a3;
  cursor: pointer;
}

button:active {
  background-color: #d9d9d9;
  color: #222222;
}

input[type="color"] {
  border: none;
  width: 50px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  border-radius: 3px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  border: none;
  width: 150px;
  height: 30px;
  padding: 0;
  cursor: n-resize;

  background-color: #4e4e4e;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: medium;
  padding: 5px;
}

input[type="number"]:disabled {
  color: red;
}

.options-radio-label input[type="radio"] {
  display: none;
  justify-content: center;
}

.options-radio-ui {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.options-radio-label input[type="radio"]:checked + .options-radio-ui {
  border-color: #2196f3;
}

.options-radio-label input[type="radio"]:checked + .options-radio-ui::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #2196f3;
  border-radius: 50%;
  margin: 3px;
}

.monospaced {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.background-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  background-color: #1d1d1d;
  height: 100%;
  border-radius: 10px;
}

.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 80vh;
  height: 20vh;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #1d1f20;
  color: white;
  border: 1px solid #404547;
}

.generate-random-div {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.generate-random-sub-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gradient-options-div {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gradient-options-radio-div {
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gradient-options-value-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.generate-random-btn {
  padding: 15px;
}

.stops-div {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stops-div-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: scroll;
  scrollbar-width: none;
}

.stops-div-add {
  margin-bottom: 10px;
}

.stops-div-sub-add {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-stop-btn {
  padding: 15px 30px 15px 30px;
}

.stops-sub-div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 10px;
}
